*{
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body{
	font-family: 'Lato', sans-serif;
	margin:0;
	text-align: center;
}

.logo{
	position: relative;
	top:12em;
	width:200px;
	height:200px;
	padding:0;
	margin:0;
	float:left;
}

@media (min-width: 20rem){
	.logo{
		top: 0em;
	}
}


.slogan{
	position: absolute;
	top:0.8em;
	color: white;
	left: 2.4em;
	color: #b3b3b3;
}


img{
	max-width: 100%;
	height: auto;
}

.scrollUp{
	width:50px;
	height: 50px;
	text-decoration: none;
	z-index: -100;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
}

@media (min-width: 50rem){
	.scrollUp{
		z-index: 100;
	}
}


.container{
	width: 95%;
	margin: 0 auto;
}

.home-top{
	background-image: url("img/background.jpg");
	background-size: cover;
	background-position: center;
	padding: 10em 0;
}

@media (min-width: 60rem){
	.home-top{
		height: 100vh;
	}
}

@media(min-width: 60rem){
	.home-top-title{
		position: relative;
		top: 0.8em;
	}
}

h1{
	font-weight: 300;
	font-size: 1.7rem;
}

.home-top-title{
	padding-top: 3.5em;
	font-size: 3rem;
	font-weight: 900;
	color: white;
}

.home-top-title span{
	font-weight:  700;
	font-size: .8em;
}

@media (min-width: 60rem){
	.home-top-title{
		font-size: 3rem;
		padding-top: 4.3em;
	}
}


header{
	position: absolute;
	right: 0;
	}



nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 0.7em;
	color: white;
	position: relative;
	float:right;
	top:0.5em;
}

nav a:hover, nav a:focus{
	color:#DDD;
}

@media (min-width: 40rem){
	nav li{
		display:inline-block;
	}
}


.button{
	display: inline-block;
	font-size: 1.2rem;
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid;
	padding: .9em 1.5em;
	cursor: pointer;
}

.button-green{
	color: #00ff80;
	font-weight: 700;
	border-color: rgba(0,255,128,0.5);
}

.button-green:hover, .button-green:focus{
	background: rgba(0,255,128,0.2);
	color: white;
}

.button-top{
	position: relative;
	top: 4rem;
}

.button-small, #close1, #close2, #close3, #close4, #close5, #close6{
	font-size: 0.7rem;
	font-weight: 700;
}

#close1, #close2, #close3, #close4, #close5, #close6{
	position: relative;
	margin-top: 1rem;
}


.info{
	margin-bottom: .5em;
	margin-top:1rem
}

.contactAndSocials{
	display: inline-block;
	margin-top: 0rem;
}

.contactAndSocials a{
	margin-left: 1em;
	margin-right: 1em;
}

.contactAndSocials h2{
	margin-bottom: 2rem;
	padding-top: .5rem;
}

.contactAndSocials h3{
	padding-top: 2rem;
}

.container{
	width: 100%;
}

.home-textbox{
	background-color: #383333;
	padding: 5em;
	outline: 2px solid rgb(0,255,128);
	outline-offset: -2.5em;
	color: white;
	position: relative;

}

.home-textbox h1{
	color: rgb(0,255,128);
	position: absolute;
	top: -.15em;
	left: 50%;
	transform: translateX(-50%);
	background-color: #383333;
	padding: 0 1rem;
	margin-bottom: 2em;

}

.home-textbox p{
	font-size: 1.3rem;
}

@media (min-width: 25rem){
	h1{
		font-size: 2rem;
	}

.home-textbox h1{
		top: -0.3em;
		padding: 0 1.7rem;
	}
}

@media (min-width: 60rem){
	h1{
		font-size: 2.5rem;
	}

	.home-textbox{
	width: 60% ;
	right: -30rem;
	top: -8.8rem;
	
	}

	.home-about{
		background-image: url('img/myPhoto.jpg');
		background-repeat: no-repeat;
		padding: 5rem;
	}

	.home-textbox h1{
		top: -0.5em;
		left: 11em;
		padding: 0 1rem;
	}
}


hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 23rem;
}



.portfolio{
	/*margin: 3em 0;*/
}

.portfolio h1{
	background-image: url('img/concrete-texture.png');
	background-size: cover;
	background-position: center;
	margin:0;
	padding: 1.5em;
	padding-bottom: .5em;
	color: #404040;
	text-shadow: 0px 2px 4px #262626;
	letter-spacing: 0.07em;
	word-spacing: .07em;
}

.portfolio-item{
	position: relative;
	margin:0;
}

.portfolio-item img{
	display: block;
}

.portfolio-description{
	position: absolute;
	left:0rem;
	right: 0rem;
	z-index: 100;
	bottom:  0rem;
	background-color: rgba(0,0,0,.75);
	color: white;
	padding-bottom: 0.5rem;
}

.portfolio-description-clicked{
	position: absolute;
	left:0rem;
	right: 0rem;
	z-index: 100;
	top:  0rem;
	background-color: rgba(0,0,0,.9);
	color: white;
	padding-bottom: 0.5rem;
	height: 100%;
}

figcaption h5{
	font-size: 1rem;
	line-height: 0.3rem;
}

@media(min-width: 37rem){
	.portfolio-item{
		width: 50%;
		float:left;
	}
}

@media(min-width: 60rem){
	.portfolio-item{
		width: 33.33333333333333333%;
		float:left;
		overflow: hidden;
	}

	.portfolio-description{
		transform: translateY(150%);
	}

	.portfolio-item:hover .portfolio-description{
		transform: translateY(0%);
	}
	.portfolio-description-clicked{
		transform: translateY(0%);
	}
}

footer{
	background-image: url('img/concrete-texture.png');
	background-size: cover;
	background-position: center;
}

#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6{
	display:none;
}

